<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Show Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Show Page</h1>

<p>Show all data <a href="/showData">here</a></p>

<form action="/showStudentsInCourse" method="post">
    <p>Show Students enrolled in the Course:
        <input type="text" name="name" />
        <input type="submit" value="List" /></p>
</form>

<form action="/showStudentsInExam" method="post">
    <p>Show Students and their grades registered in the Course:
        <input type="text" name="name" />
        <input type="submit" value="List" /></p>
</form>

<a href="/">Home</a>

</body>
</html>